@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap");

:root {
  --black: #0f111a;
  --white: #ffffff;
  --font-family-heading: "Share Tech Mono", monospace;
  --font-family-body: "Roboto", sans-serif;
  --yellow: #ffb626;
  --green: #82af3a;
  --red: #f11012;
}

html {
  font-size: 100%;
}

html,
body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: var(--black);
  font-family: var(--font-family-body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: var(--font-family-heading);
}

.blurb {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-body);
  margin: 0 auto 1rem auto;
  max-width: 600px;
  text-align: center;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.selector__buttonGroup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.selector__button {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-family-heading);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0.25rem solid var(--black);
}

.selector__button--selected {
  background-color: var(--yellow);
  color: var(--black);
}

.selector__button:hover {
  background-color: var(--yellow);
  color: var(--black);
  box-shadow: none;
}

.selector__button:focus {
  outline-width: 0;
  box-shadow: var(--green) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.selector__button--luckyDip {
  background-color: var(--green);
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2rem;
}

.selector__item__label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: var(--font-family-heading);
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border: 0.25rem solid var(--black);
  border-radius: 0;
  font-family: var(--font-family-heading);
}

.input:focus {
  outline-width: 0;
  box-shadow: var(--green) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.result {
  margin-bottom: 2rem;
}

.result__pre {
  position: relative;
  border-radius: 0;
  background: var(--black);
  padding: 1rem;
  overflow: auto;
  color: var(--white);
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  text-align: left;
  word-spacing: normal;
  white-space: pre-wrap;
  word-wrap: normal;
  overflow-x: auto;
  word-break: break-all;
  line-height: 1.5;
  tab-size: 4;
  overflow: hidden;
}

.copyButton {
  border-width: 0;
  position: absolute;
  right: 0;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 0 0 0 0.5rem;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.copyButton:hover {
  box-shadow: var(--green) 0 0 0 0.25rem;
}

.copyButton:focus {
  outline-width: 0;
  box-shadow: var(--green) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 2rem 4rem;
  margin-top: 2rem;
  border-top: 0.5rem solid var(--yellow);
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
  font-family: var(--font-family-heading);
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__disclaimer {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
  font-family: var(--font-family-heading);
  color: var(--yellow);
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__link {
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.125rem;
}

.footer__link:visited {
  color: var(--white);
}

.footer__link:hover {
  color: var(--white);
}

.footer__link:focus {
  outline-width: 0;
  box-shadow: var(--yellow) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.contributors {
  display: grid;
  grid-template-columns: auto;
}

.contributors__title {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-body);
  margin: 0 auto 1rem auto;
  max-width: 600px;
  text-align: center;
}

.contributors__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.contributors__listItem {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.contributors__link {
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.125rem;
  color: var(--black);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.4;
}

.contributors__link:visited {
  color: var(--black);
}

.contributors__link:hover {
  color: var(--red);
}

.contributors__link:focus {
  outline-width: 0;
  box-shadow: var(--yellow) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}
