@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap");
:root {
  --black: #01101a;
  --white: #ffffff;
  --font-family-heading: "Share Tech Mono", monospace;
  --font-family-body: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

html,
body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: var(--black);
  font-family: var(--font-family-body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: var(--font-family-heading);
}

.blurb {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-body);
  margin: 0 auto 1rem auto;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.selector__buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .selector__buttonGroup {
    flex-direction: row;
  }
}

.selector__button {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-family-heading);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.selector__checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.selector__checkbox > .input {
  width: 10%;
  margin: 3px;
}

.selector__checkbox > label:hover {
  cursor: pointer;
}

/* TO DO */
/*
.selector__button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: none;
}

.selector__button:focus {
  outline-width: 0;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
} */

.selector__item__label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.result {
}

.result__pre {
  border-radius: 0.5rem;
  background: var(--black);
  padding: 1rem;
  overflow: auto;
  color: var(--white);
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  font-family: var(--font-familt-heading);
  font-size: 1.4rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
}
